/*****************************
dylmye.me
v4.0.1
******************************/


/*****************************
    fonts
*****************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


/*****************************
    base
*****************************/

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto, 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgba(0, 26, 51, 1);
    top: 0;
}

h1, h2, h3, h4, h5, h6 { font-weight: 700 }

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}

a {
    color: #3f51b5;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover, a:focus {
    color: #222;
    outline: 0;
    text-decoration: none;
}

section {
    padding: 70px 0;
}

@media(min-width: 34em) {
section {
        min-height: 600px;
        padding: 100px 0;
    }
}

footer {
    padding: 45px;
    padding-top: 40px;
    background-color: #222;
    color: #fff;
}

.btn.btn-primary {
    background-color: #3f51b5;
    border:1px solid transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color: #fff;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn-primary-outline {
    border-color: #3f51b5;
    color: #3f51b5;
}
.btn-primary-outline:hover {
    background-color: #3f51b5;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #3f51b5;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

/*****************************
    navbar
*****************************/

.navbar-default {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    
    background-color: #3f51b5;
    color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-default .nav .nav-link.active, .navbar-default .nav .nav-link.active:focus {
    color: #fff !important;
    background-color: transparent;
}

.navbar-brand {
    color: #fff;
    padding: 1px;
    line-height: 1.90em;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
    float: none;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #fff;
}

@media(max-width:48em) {
    .navbar-default .navbar-nav > .nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar-default .navbar-nav {
        float:none !important;
    }
}

@media(min-width:48em) {
    .navbar-default {
        border-color: transparent;
        background-color: #3f51b5;
        min-height: 60px;
    }

    .navbar-brand {
        color: #fff;
        float: left;
        padding: 9px;
        padding-left: 1px;
    }

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #fff;
    }
    
    .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
        color: #fff;
        padding-left: 5px;
        padding-top: 21px;
        letter-spacing: 1.1px;
    }

    .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
        color: #fff;
    }
    
}

/*****************************
    hero
*****************************/

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #001A33;
    width: 100%;
    
    background-color: #fff;
    background-image: url("http://dylmye.me/img/bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

.header-content h2 {
    color: #fff;
    font-size: 100px;
}

@media(min-width: 34em) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
}

/*****************************
    modals
*****************************/

.modal-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal-img {
    width: 100%;
    height: auto;
}

.card-img {
    border-radius: 0.1rem;
}

.card-title > a { 
    color: #fff;
}

.col-xl-3 {
    padding-right: 0;
}

.card-title > a:hover {
    text-decoration: none;
    color: #aaa;
}

.tech-s-row {
    text-align: center;
    margin: 0 auto;
}
.tech-s-icon {
    font-size: 30px;
}

/*****************************
    contact form
*****************************/

.mce_inline_error {
    color: #f44336;
}

.social-icons {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 10px;
}

.social-icons p {
    font-size: 5em;
}

.social-icons p a {
    color: #3f51b5;
}