@import url('https://fonts.googleapis.com/css?family=Heebo:900|Nunito:700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/marx/2.0.7/marx.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/1.8.36/css/materialdesignicons.min.css');

/* basics */
*, *:before, *:after {
    box-sizing: border-box;
}
html { overflow-y: auto; } /* override marx reset */
body, input, select, textarea {
    color: #348cb2;
    font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15pt;
    font-weight: 700 !important;
    letter-spacing: -0.025em;
    line-height: 1.75em;
}
body {
    background: #ffffff;
}
a {
    border-bottom: dotted 1px;
    color: inherit;
    outline: 0;
    text-decoration: none !important;
}
a:hover {
    border-color: transparent;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* icons */
.icon {
    text-decoration: none;
    position: relative;
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
/* wrapper */
.wrapper {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
/* bg */
#bg {
    background: #348cb2 url("bg.jpg") bottom left;
    background-repeat: repeat-x;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    background-size: 2250px auto;
    width: 6750px;
}
/* main */
main {
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
	max-width: 100%; /* override marx reset */
	padding: initial; /* override marx reset */
}
main:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: 0;
    vertical-align: middle;
    width: 1px;
}
/* header */
#header {
    backface-visibility: hidden;
    cursor: default;
    display: inline-block;
    position: relative;
    text-align: center;
    top: -1em;
    vertical-align: middle;
    width: 90%;
}
#header h1 {
	border-bottom: transparent; /* override marx reset */
    font-size: 4.35em;
    font-family: 'Heebo', 'Helvetica Neue', Impact, sans-serif;
    font-weight: 900;
    letter-spacing: -0.030em;
    line-height: 1em;
}
#header p {
    font-size: 1.25em;
    margin: 0.75em 0 0.25em 0;
}
#header nav {
    margin: 1.5em 0 0 0;
}
#header nav ul { padding-left: 0; } /* override marx reset */
#header nav li {
    backface-visibility: hidden;
    display: inline-block;
    height: 5.35em;
    line-height: 5.885em;
    opacity: 1;
    position: relative;
    top: 0;
    width: 5.35em;
}
#header nav a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    border: 0;
    display: inline-block;
}
#header nav a:before {
    border-radius: 100%;
    border: solid 1px #fff;
    display: block;
    font-size: 1.75em;
    height: 2.5em;
    line-height: 2.5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2.5em;
}
#header nav a:hover {
    font-size: 1.1em;
}
#header nav a:hover:before {
    background-color: rgba(255, 255, 255, 0.175);
    color: #fff;
}
#header nav a.mdi-twitter:hover:before {
    background-color: rgba(29, 161, 242, 0.9);
	border-color: rgba(13, 149, 232, 1);
    color: #fff;
}
#header nav a.mdi-stackoverflow:hover:before {
    background-color: rgba(244, 128, 36, 0.9);
	border-color: rgba(242, 114, 12, 1);
    color: #fff;
}
#header nav a.mdi-dribbble:hover:before {
    background-color: rgba(234, 76, 137, 0.9);
	border-color: rgba(231, 53, 122, 1);
    color: #fff;
}
#header nav a.mdi-github-circle:hover:before {
    background-color: rgba(51, 51, 51, 0.9);
	border-color: rgba(48, 48, 48, 1);
    color: #fff;
}
#header nav a.mdi-email-outline:hover:before {
    background-color: rgba(10, 10, 10, 0.9);
	border-color: rgba(48, 48, 48, 1);
    color: #fff;
}
#header nav a:active {
    font-size: 0.95em;
    background: none;
}
#header nav a:active:before {
    background-color: rgba(255, 255, 255, 0.35);
    color: #fff;
}
#header nav a span {
    display: none;
}
/* footer */
footer {
	border-top: transparent; /* override marx reset */
    bottom: 0;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 8em;
    position: absolute;
    text-align: center;
    width: 100%;
}
span.copyright {
	font-size: 60%;
}

/* mobile optimisations */
@media screen and (max-width: 1680px) {
    body, input, select, textarea {
		font-size: 13pt;
	}
	#bg {
		width: 4500px;
	}
 }
@media screen and (max-width: 1280px) {
    body, input, select, textarea {
		font-size: 12pt;
	}
	#bg {
		background-size: cover;
		width: 2250px;
	}
 }
@media screen and (max-width: 736px) {
    body {
		min-width: 320px;
	}
	body, input, select, textarea {
		font-size: 11pt;
	}
	#bg {
		width: 900px;
	}
	#header h1 {
		font-size: 2.5em;
	}
	#header p {
		font-size: 1em;
	}
	#header nav {
		font-size: 1em;
	}
	#header nav a:hover {
		font-size: 1em;
	}
	#header nav a:active {
		font-size: 1em;
	}
 }
@media screen and (max-width: 480px) {
    #bg {
		width: 1237.5px;
	}
	#header nav {
		padding: 0 1em;
	}
 }
