<section id="contact-mobile">
    <h2>Contact Me</h2>
    <div class="card contact-card">
        <a href="https://twitter.com/dylan_mye">
            <img src="{{ "/assets/img/unicons/social-twitter.svg" | relative_url }}" alt="My Twitter" />
            My Twitter
        </a>
    </div>
    <div class="card contact-card">
        <a href="https://dribbble.com/dylmye">
            <img src="{{ "/assets/img/unicons/social-dribbble.svg" | relative_url }}" alt="My Dribbble" />
            My designs
        </a>
    </div>
    <div class="card contact-card">
        <a href="https://github.com/dylmye">
            <img src="{{ "/assets/img/unicons/social-github.svg" | relative_url }}" alt="My GitHub" />
            My code
        </a>
    </div>
    <div class="card contact-card">
        <a href="https://www.linkedin.com/in/dylan--m/">
            <img src="{{ "/assets/img/unicons/social-li.svg" | relative_url }}" alt="My LinkedIn" />
            My LinkedIn
        </a>
    </div>
</section>