    <script src="https://cdn.jsdelivr.net/npm/micromodal@0.4.10/dist/micromodal.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        MicroModal.init({
          openClass: 'is-open',
          disableScroll: true,
          disableFocus: false,
          awaitOpenAnimation: false,
          awaitCloseAnimation: false,
          debugMode: false
        });
      });
    </script>
    <script async defer src="https://stats.dylmye.me/latest.js"></script>
    <noscript><img src="https://stats.dylmye.me/noscript.gif" alt=""/></noscript>
  </body>
</html>
