{% assign icon_color = "#ffffff" %}

{% assign content = page.content | strip_newlines %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ user.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/assets/styles.css" | absolute_url }}" rel="stylesheet" type="text/css">

    <meta property="og:url" content="https://dylmye.me">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content="Dylan Myers">
    <meta property="og:image" content="social.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dylmye">
    <meta name="twitter:creator" content="@dylmye">
    <meta name="twitter:title" content="Dylan Myers">
    <meta name="twitter:image" content="social.jpg">
  </head>
  <body style="background:#2f363d;color:#fff">
