{% assign icon_color = "#ffffff" %}
{% assign content = page.content %}
{% assign posts_total = site.posts | size %}
{% assign user = site.github.owner %}
{% if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
  {% assign page_type = "article" %}
  {% assign social_image = post_banner_img %}
{% else %}
  {% assign page_title = user.name %}
  {% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
  {% assign page_type = "website" %}
  {% assign social_image = "/assets/img/social.png" %}
{% endif %}
<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <title>{{ page_title }} - Dylan Myers</title>
    <meta name="description" content="{{ meta_description }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icons/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icons/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icons/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">
    <link rel="mask-icon" href="{{ "/assets/icons/safari-pinned-tab.svg" | relative_url }}" color="#262626">
    <meta name="apple-mobile-web-app-title" content="Dylan Myers">
    <meta name="application-name" content="Dylan Myers">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">

    <meta property="og:url" content="https://dylmye.me">
    <meta property="og:type" content="{{ page_type }}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content="{{ page_title }} - dylmye.me">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:image" content="{{ social_image | absolute_url }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dylan_mye">
    <meta name="twitter:creator" content="@dylan_mye">
    <meta name="twitter:title" content="{{ page_title }} - dylmye.me">
    <meta name="twitter:description" content="{{ meta_description }}">
    <meta name="twitter:image" content="{{ social_image | absolute_url }}">

    {% feed_meta %}
</head>

<body>
