<header>
    <a href="{{ site.url }}{{ site.baseurl | append:'/' }}" class="home-header">
        <img src="{{ "/assets/img/me.png" | relative_url }}" class="profile-pic" alt="Me" title="Click to go home" />
        <h1>Dylan Myers</h1>
        <h2>Full-stack developer</h2>
    </a>
  <ul class="header-ul">
      <li>
          <div>
              <span class="header-icon-circle"><img src="{{ "/assets/img/unicons/social-location.svg" | relative_url }}"
                      alt="My Location" /></span>
              United Kingdom
          </div>
      </li>
      <li>
          <div>
              <a href="https://twitter.com/dylan_mye">
                  <span class="header-icon-circle"><img src="{{ "/assets/img/unicons/social-twitter.svg" | relative_url }}"
                          alt="My Twitter" /></span>
                  My Twitter
              </a>
          </div>
      </li>
      <li>
          <div>
              <a href="https://dribbble.com/dylmye">
                  <span class="header-icon-circle"><img src="{{ "/assets/img/unicons/social-dribbble.svg" | relative_url }}"
                          alt="My Dribbble" /></span>
                  My designs
              </a>
          </div>
      </li>
      <li>
          <div>
              <a href="https://github.com/dylmye">
                  <span class="header-icon-circle"><img src="{{ "/assets/img/unicons/social-github.svg" | relative_url }}"
                          alt="My GitHub" /></span>
                  My code
              </a>
          </div>
      </li>
      <li>
          <div>
              <a href="https://www.linkedin.com/in/dylan--m/">
              <span class="header-icon-circle"><img src="{{ "/assets/img/unicons/social-li.svg" | relative_url }}"
                      alt="My LinkedIn" /></span>
              My LinkedIn
              </a>
          </div>
      </li>
  </ul>
  <span></span>
  <small><a href="javascript:;" data-micromodal-trigger="modal-ack">Acknowledgements</a> &bullet; &copy; Dylan Myers 2020</small>
</header>