<h2 class="text-white">Latest Code Projects</h2>
<p class="f4 mb-4 text-white"><a href="https://github.com/dylmye" class="text-white">View more {% octicon chevron-right height:16 class:"mr-2 v-align-middle dm-cta-arrow" fill:#ffffff aria-hidden:true %}</a></p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for repository in site.github.public_repositories | sort | limit: 6 %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include repo-card.html %}
    </div>
  {% endfor %}
</div>
