<div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
  <div class="github-component height-full text-left bg-white rounded-1 p-3 dm-repo-card">
    <div class="d-flex flex-justify-between flex-items-start mb-1">
      <h1 class="f4 lh-condensed mb-1">
        <a href="{{ include.url }}" target="_blank">
          {% if include.custom_icon %}{% octicon briefcase height:20 class:"mr-1 v-align-middle" fill:"#586069" aria-label:repo %}
          {% else %}{% octicon repo height:20 class:"mr-1 v-align-middle" fill:"#586069" aria-label:repo %}{% endif %}
          {{ include.name }}
        </a>
      </h1>
    </div>
    <div class="text-gray mb-2 ws-normal">{{ include.description }}</div>
  </div>
</div>