:root {
	color-scheme: light dark;
	--color-1: oklch(0.25 0.08 250);
	--color-2: oklch(0.3 0.1 255);
	--color-3: oklch(0.35 0.12 260);
	--color-4: oklch(0.4 0.14 265);
	--color-5: oklch(0.45 0.15 270);
	--color-6: oklch(0.5 0.16 273);
	--color-7: oklch(0.55 0.15 275);
	--color-8: oklch(0.93 0.03 282);
	--color-imessage-bg: #0088ff;
	--default-text-color: light-dark(var(--color-1), var(--color-8));
	--default-background-color: light-dark(var(--color-8), var(--color-1));
}

html {
	font-family: var(--font-sans-serif);
	font-size: 18px;
}

h1,
h2,
h3 {
	font-family: var(--font-display);
}

h1 {
	font-size: clamp(2.5rem, 20cqw, 4.65rem);
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

body {
	background-color: var(--default-background-color);
	color: var(--default-text-color);
}

a {
	color: var(--default-text-color);
	text-decoration: none;
	transition: text-decoration-color 0.1s ease-in;
}

a,
a:hover {
	color: var(--default-text-color);
}

a:hover {
	text-decoration-color: var(--default-text-color);
}

/* a:visited {
	text-decoration-color: red;
} */

code {
	font-family: var(--font-monospace);
}

blockquote > p {
	/* biome-ignore lint/complexity/noImportantStyles: override standard p style */
	margin-block-end: 0 !important;
}

#root {
	margin-inline: 10vw;
	margin-block-start: 2rem;
	container-type: size;
	container-name: root;
}
