:root {
	color-scheme: light dark;
	--color-1: oklch(0.25 0.08 250);
	--color-2: oklch(0.3 0.1 255);
	--color-3: oklch(0.35 0.12 260);
	--color-4: oklch(0.4 0.14 265);
	--color-5: oklch(0.45 0.15 270);
	--color-6: oklch(0.5 0.16 273);
	--color-7: oklch(0.55 0.15 275);
	--color-8: oklch(0.93 0.03 282);
	--color-imessage-bg: #0088ff;
	--default-text-color: light-dark(var(--color-1), var(--color-8));
	--default-background-color: light-dark(var(--color-8), var(--color-1));
}

html {
	font-family: var(--font-sans-serif);
	font-size: 18px;
}

h1,
h2,
h3 {
	font-family: var(--font-display);
	font-weight: normal;
}

h1,
h2 {
	text-align: center;
}

body {
	background-color: var(--default-background-color);
	color: var(--default-text-color);
}

a {
	color: var(--default-text-color);
	text-decoration: underline 0.1em wavy;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.1s ease-in;
}

@media only screen and (max-width: 600px) {
	a {
		text-decoration: underline 0.05em wavy;
		text-decoration-color: transparent;
	}
}

a,
a:hover {
	color: var(--default-text-color);
}

a:hover {
	text-decoration-color: var(--default-text-color);
}

a:visited {
	color: light-dark(
		oklch(from var(--default-text-color) calc(l + 0.15) c h),
		oklch(from var(--default-text-color) calc(l - 0.15) c h)
	);
}

code {
	font-family: var(--font-monospace);
}

blockquote > p {
	/* biome-ignore lint/complexity/noImportantStyles: override standard p style */
	margin-block-end: 0 !important;
}

#root {
	margin-inline: 10vw;
	margin-block-start: 2rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-2-1 21:58:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
@keyframes slide-in-blurred-bottom {
	0% {
		transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
		transform-origin: 50% 100%;
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scaleY(1) scaleX(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}
