:root {
	color-scheme: light dark;
	--default-text-color: light-dark(rgb(6, 0, 88), rgb(221, 219, 255));
	--default-background-color: light-dark(rgb(241, 245, 249), rgb(14, 21, 39));
}

html {
	font-family: var(--font-sans-serif);
	font-size: 18px;
}

h1,
h2,
h3 {
	font-family: var(--font-display);
	font-weight: normal;
}

h1,
h2 {
	text-align: center;
}

body {
	background-color: var(--default-background-color);
	color: var(--default-text-color);
}

a {
	color: var(--default-text-color);
	text-decoration: underline 0.1em wavy;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.1s ease-in;
}

@media only screen and (max-width: 600px) {
	a {
		text-decoration: underline 0.05em wavy;
		text-decoration-color: transparent;
	}
}

a {
	color: light-dark(rgb(3, 0, 49), rgb(174, 170, 255));
}

a:hover {
	text-decoration-color: var(--default-text-color);
}

a:visited {
	color: light-dark(rgb(6, 1, 85), rgb(155, 149, 255));
}

code {
	font-family: var(--font-monospace);
}

blockquote > p {
	/* biome-ignore lint/complexity/noImportantStyles: override standard p style */
	margin-block-end: 0 !important;
}

#root {
	margin-inline: 10vw;
	margin-block-start: 2rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-2-1 21:58:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
@keyframes slide-in-blurred-bottom {
	0% {
		transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
		transform-origin: 50% 100%;
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scaleY(1) scaleX(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}
