---
---
@import url('primer.11.min.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700');

$primary: #2f363d;
$primary-darker: #24292e;
$primary-darkest: #0e1011;
$link: #74b5fd;

html, body {
  background: $primary;
}

body {
  font-family: 'IBM Plex Sans', Roboto, Arial, Helvetica, sans-serif;
}

::selection {
  color: #fff;
  background: $primary-darkest;
}

code, pre {
  font-family: 'IBM Plex Mono', "SFMono-Regular", "Liberation Mono", Consolas, Menlo, monospace;
}

.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

html, body, body > .d-md-flex {
  min-height: 100%;
}

figure {
  margin: 0;
  margin-bottom: 1.5em;
  figcaption {
    background: $primary-darkest;
    color: #fff;
    margin-top: -0.4em;
    padding: .5em;
    & a {
      color: #fff;
    }
  }
}

.bg-primary {
  background: $primary;
}

.dm-cta-arrow {
  margin: 0 0 2px 2px;
}

/* box-shadow styling */
.dm-post-card, .dm-repo-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

/* post styling */
.dm-post-content {
  font-size: 1.5rem;
  word-break: break-word;
  word-wrap: break-word;
  & a {
    color: $link;
  }
  & h1, h2 {
    margin-top: 1.5em;
  }
  & code {
    font-size: 1em;
    background-color: $primary-darker;
    padding: 0.15em;
    border-radius: 2px;
  }
  & blockquote {
    background-color: $primary-darker;
    padding: 0.5em 0.3em;
    border-radius: 2px;
    border-left: 3px solid $primary-darkest;
    p {
      margin-bottom: 0;
    }
  }
  & figure {
    max-width: 75%;
    margin: 0.5em auto;
    display: block;
    > figcaption {
      margin-top: -0.6em;
      padding: .5em;
      font-size: 1rem;
    }
  }
  & hr {
    margin-top: 3em;
    margin-bottom: 2em;
    display: block;
    border: 0;
    text-align: center;
    overflow: visible;
    &:before {
      content: '...';
      display: inline-block;
      position: relative;
      top: -1.25em;
      letter-spacing: 1em;
    }
  }
}

.dm-post-footer {
  margin-top: 3em;
}