{% include header.html %}
  {% include masthead.html %}
  <section id="main" class="container homepage-container">
    <main>
      <div class="card leading-card">
        Hi, I&apos;m Dylan, a full-stack developer with more than 4 years of professional experience in <u>React</u>, <u>PHP</u> and <u>C#</u>. I'm a certified Google Ads Apps developer and I've worked on web and mobile apps for a range of industries and uses. DevOps wise, I have experience managing assets in AWS, Azure and Heroku. I take interest and pride in creating maintainable, accessible and clean solutions. Check out the projects I'm working on and what I've been writing about recently!
      </div>

      {% unless posts_total == 0 %}
        {% include posts-preview.html %}
      {% endunless %}

      <!-- Projects -->

      {% include contact-mobile.html %}
    </main>
    <footer>
        <small><a href="javascript:;" data-micromodal-trigger="modal-ack">Acknowledgements</a> &bullet; &copy; Dylan Myers 2022</small>
    </footer>
  </section>

  <!-- acknowledgements modal -->
  <div id="modal-ack" class="modal modal-ack" aria-hidden="true">
    <div class="modal-overlay" tabindex="-1" data-micromodal-close>
        <div class="modal-container" role="dialog" aria-modal="true">
          <p>
            <strong>Acknowledgements</strong>
            <ul>
              <li>Portions of this website are from <a href="https://github.com/github/personal-website">github/personal-website</a>, provided under MIT, &copy; 2019 GitHub Inc</li>
              <li><a href="https://iconscout.com/unicons">Unicons</a> are provided under Apache 2.0, &copy; 2019 Chamestudio Private Limited</a></li>
              <li><a href="https://github.com/rsms/inter">Inter</a> is provided under the OFL 1.1, &copy; 2016-2020 The Inter Project Authors</li>
            </ul>
            <div class="ack-icons">
              <a href="https://simpleanalytics.com/?utm_source=dylmye.me&utm_content=badge" referrerpolicy="origin" target="_blank"><img src="https://simpleanalyticsbadge.com/dylmye.me?mode=dark&counter=false" loading="lazy" referrerpolicy="no-referrer" crossorigin="anonymous" /></a>
              <a href="https://github.com/dylmye/dylmye.github.io" referrerpolicy="origin" target="_blank"><img src="{{ "/assets/img/github-button.svg" | relative_url }}" loading="lazy" /></a>
            </div>
          </p>
        </div>
    </div>
  </div>

{% include footer.html %}
